@layout LoginLayout 
@inherits LayoutComponentBase


<div style="text-align:center">
    <div>
        <div class="col-8 card">
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
            <div class="col-12 row">
                <div class="col-6" style="border-right:groove">
                    <img src="https://b.marfeel.com/statics/i/ps/www.muycomputer.com/wp-content/uploads/2015/04/bateria-portatil.jpg?width=1200&enable=upscale" alt="Alternate Text" width="300px" height="300px" />
                </div>
                <div class="col-6" style="border-left:thick">
                    @Body
                </div>
            </div>
        </div>


    </div>
</div>