@if (IsVisible)
{
    if (Result)
    {
        <div id="divServerValidations" class="col-10 alert alert-danger row">
            <div class="col-11" style="text-align:left">
                <span>@ChildContent guardado correctamente!</span>
            </div>

            <div class="col-1" style="text-align:right">
                <a style="text-underline-position:below;cursor:pointer" @onclick="(()=> Close())">X</a>
            </div>
        </div>
    }
    else
    {
        <div id="divServerValidations" class="col-10 alert alert-danger row">
            <div class="col-11" style="text-align:left">
                <span>Algo salio mal!!, contacte al Adminitrador</span>
            </div>

            <div class="col-1" style="text-align:right">
                <a style="text-underline-position:below;cursor:pointer" @onclick="(()=> Close())">X</a>
            </div>
        </div>

        }
    }

    @code {
        [Parameter]
        public bool IsVisible { get; set; }
        [Parameter]
        public RenderFragment ChildContent { get; set; }
        [Parameter]
        public bool Result { get; set; }

        private void Close()
        {
            IsVisible = false;
        }
    }
